<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/touchTouch/touchTouch.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
        <script src="/javascripts/jquery-scrollto.js"></script>

        <link href="themes/8/js-image-slider.css" rel="stylesheet" type="text/css" />
        <script src="themes/8/js-image-slider.js" type="text/javascript"></script>
        <link href="themes/8/tooltip.css" rel="stylesheet" type="text/css" />
        <script src="themes/8/tooltip.js" type="text/javascript"></script>
    

        <script src="/touchTouch/touchTouch.jquery.js"></script>
        <script src="/javascripts/phototouch.js"></script>
        <script src="/javascripts/loadXMLpaper.js"></script>
        <script src="/javascripts/loadXMLauthor.js"></script>
        <script src="/javascripts/loadXMLData.js"></script>
        <script src="/javascripts/storageMyProgram.js"></script>
        <script src="/javascripts/map.js"></script>

        <title>PAKDD</title>
    </head>
<body class="ui-mobile-viewport ui-overlay-c" screen_capture_injected="true">
	<div data-role="page" id="page-home" >
	
		<script src="/javascripts/setCSStrick.js"></script>
		<div data-role="header" data-position="fixed" role="banner">
			<h1 class="ui-title" role="heading" aria-level="1">18th PAKDD 2014</h1>
        
        
          <a href="#popupInfo" data-role="button" data-rel="popup" class="ui-btn-left ui-shadow ui-corner-all ui-btn-icon-left ui-icon-info" data-transition="slideup" >info</a>
          <a href="#page-home" data-icon="home" class="ui-btn-right" >Home</a>
       
        
        <div data-role="popup" id="popupInfo" data-theme="a">
    <div data-role="collapsibleset" data-theme="a" data-content-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" style="margin:0; width:300px;">
        <div data-role="collapsible" data-inset="false">
        <h2>Travel Info</h2>
            <ul data-role="listview">
                <li><a href="http://www.vztaiwan.com/" >Visist Smart Tourism Taiwan</a></li>
                <li><a href="https://itunes.apple.com/us/app/smart-tourism-pro/id649680814?ls=1&mt=8">Download APP for iOS</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=tw.org.iii.ari.smarttourism">Download APP for Android</a></li>
            </ul>
        </div><!-- /collapsible -->
        <div data-role="collapsible" data-inset="false">
        <h2>Developer Info</h2>
            <ul data-role="listview">
                 <li><a href="#" >Arvin Huang</a></li>
                <li><a href="#" >Boheng Chen</a></li>
                <li><a href="#" >Charlie Hsu</a></li>
                <li><a href="#" >Peihsuan Hsieh</a></li>
            </ul>
        </div><!-- /collapsible -->
    </div><!-- /collapsible set -->
</div><!-- /popup -->
		</div><!-- /header -->
		<div data-role="content" class="ui-content" role="main" >
			<div class="ui-grid-a mainpage_grid">
				<div class="ui-block-a">
					<a href="#programPage"  data-transition="fade">
						<div class="home_btn">
						<img src="/images/schedule.png"></img>
						<div>Technical Program</div>
						</div>
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#InmapPage" data-transition="fade">
						<div class="home_btn">
						<img src="/images/map.png"></img>
						<div>Traffic Information</div>
						</div>
					</a>
				</div>	
				<div class="ui-block-a">
					<a href="#paperListPage" data-transition="fade">
						<div class="home_btn">
						<img src="/images/paper.png"></img>
						<div>Paper List</div>
						</div>
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#myProgramPage" data-transition="fade">
						<div class="home_btn">
						<img src="/images/mylist.png"></img>
						<div>My Program List</div>
						</div>
					</a>
				</div>	
				
			</div><!-- /grid-a -->
		</div> 
		<div data-role="footer" data-position="fixed"> 
                 
        </div> 
    </div>

         <div id="paperListPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" >
                
                 <h1>Paper List</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <ul data-role="listview" id="list-paperList" class="ui-listview" data-autodividers="true" data-filter="true">
                           
                        </ul>
               </div>
               <div id="paperListfooter" data-role="footer" data-position="fixed"> 
                 <div data-role="navbar">
                     <ul >
                        <li ><a href="#" class="ui-btn-active ui-state-persist">PaperList</a></li>
                        <li ><a href="#peoplePage">People</a></li>
                     </ul>
                 </div><!-- /navbar -->
              </div> 
        </div>

         <div id="peoplePage" data-role="page" data-add-back-btn="true">
                <div data-role="header" >
                   <h1>People</h1>
                    <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
    		            <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                </div>
        	      <div id="content" data-role="content"  class="ui-content" role="main">
              		<ul data-role="listview" id="list-author" data-autodividers="true" data-filter="true">
              		</ul>
        	      </div>
                <div id="peoplePagefooter" data-role="footer" data-position="fixed"> 
                   <div data-role="navbar">
                       <ul >
                          <li ><a href="#paperListPage">PaperList</a></li>
                          <li ><a href="#" class="ui-btn-active ui-state-persist">People</a></li>
                       </ul>
                   </div><!-- /navbar -->
                </div> 
        </div>

        <div id="programPage" data-role="page" data-add-back-btn="true">
       
              <div data-role="header"  >
                 <h1>Program</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
  		          <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
	             <div data-role="content" class="ui-content" role="main" >
                  <ul data-role="listview" id="list-browse-sessions" class="ui-listview">
                    

                  </ul>
               </div>
        </div>
    
        <div id="MapPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                            <div class="thumbs">
                              <a href="/images/F1.png" style="background-image:url(/images/F1.png)" title="F1"></a>
                              <a href="/images/B1.png" style="background-image:url(/images/B1.png)" title="B1"></a>
                              <a href="/images/B2.png" style="background-image:url(/images/B2.png)" title="B2"></a>
                              <a href="/images/9F.png" style="background-image:url(/images/9F.png)" title="9F"></a>
                            </div>
                        </div>
              </div>
        </div>

<!-- new add-->
        <script type="text/javascript">
        //The following script is for the group 2 navigation buttons.
        function switchAutoAdvance() {
            imageSlider.switchAuto();
            switchPlayPauseClass();
        }
        function switchPlayPauseClass() {
            var auto = document.getElementById('auto');
            var isAutoPlay = imageSlider.getAuto();
         //   auto.className = isAutoPlay ? "group2-Pause" : "group2-Play";
       //     auto.title = isAutoPlay ? "Pause" : "Play";
        }
        switchPlayPauseClass();
        </script>
        <!--Taoyaun to Tainan -->
        <div id="MapPage_a" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                         <div class="map_title"> Taoyuan To Tainan </br></br></div>
                         <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#a_OptionA"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option" >Option A:By Taiwan High Speed Rail (THSR)</div>
                            <img src="/images/THSR.png">
                          </a> 
                          </div> 
                          </div> 
                          <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#a_OptionB"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option">Option B:By Taiwan Railway Train</div>
                            <img src="/images/Railway.png">
                          </a> 
                          </div> 
                          </div>
                        </div>
              </div>
        </div>
        <div id="a_OptionA" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui_content" role="main">
                <div class="map_title">Taoyuan To Tainan By Taiwan High Speed Rail (THSR) </div>
                <div id="sliderFrame">
                  <div id="slider">
                    <a href="http://www.taoyuan-airport.com/" target="_blank">
                    <img src="images/Tao_air.jpg" alt="Taoyuan Airport" />
                    </a>
                  <img src="images/THSR_tation_taoyuan.jpeg" alt="THSR-Taoyuan Station" />
                  <img src="images/THSR_tainan.jpg" alt="THSR-Tainan Statoin" />
                  <img src="images/shalun.jpg" alt="Taiwan Railways-Shalun Station" />
                  <img src="images/Tainan_Railways.jpg" alt="Taiwan Railways-Tainan Station" />
                  </div>
                </div>
              </div>
                <div class="map_text_guide">
                  <div class="map_simple_guide">
                  <a href="#" id="TIA">1.Taoyuan International Airport </br> </a>
                  <a href="#" id="TTaoyuan">2.THSR Taoyuan Station </br>
                  <a href="#" id="TTainan">3.THSR Tainan Station </br>
                  <a href="#" id="TRS">4.Tainan Railway Station </br>
                  <a href="#" id="SLH">5. Shangri-La Hotel </br></br>
                  </div>

                  <div id="xTIA" class="instructions">1.Taoyuan International Airport --> THSR Taoyuan Station </br></br></div>
                  In the airport, locate United Highway Bus counter and purchase a bus ticket of U-BUS Line [705] to THSR Taoyuan Station. The fare is $30 NTD and take about 20 minute.</br></br>
                  You can also take taxi to THSR Taoyuan Station. The fare is about $350 NTD.</br></br>
                  <div id="xTTaoyuan" class="instructions">2.THSR Taoyuan Station --> THSR Tainan Station </br></br> </div>
                  <img src="/images/map_THSR.png"></br></br>
                  The journey will take about 83 minutes. Please check here for the schedule and fare.</br></br>
                  <div id="xTTainan" class="instructions">3.THSR Tainan Station --> Tainan Railway Station</br></br> </div>
                  In the THSR Tainan Station, follow the direction to take Taiwan Railway Shuttle Train (ShaLun Line) to Tainan Railway Station. The fare is $25 NTD and it takes about 20 minutes.</br></br>
                  <img src="/images/map_SL.png"></br></br>
                  <div id="xTRS" class="instructions">4.Tainan Railway Station --> Shangri-La Hotel</br></br> </div>
                  At Tainan Railway Station, exit the station via the Rear Exit and the Shangri-La Hotel is right across the street.</br></br>
                </div>
        </div>
        <div id="a_OptionB" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
              <div class="map_title">Taoyuan To Tainan By Taiwan Railway Train </div>
               <div class="map_simple_guide">
                  1.Taoyuan International Airport </br> </a>
                  2.Taipei Railway Station </br>
                  4.Tainan Railway Station </br>
                  5. Shangri-La Hotel </br></br>
                  </div>
                <div class="map_text_guide">
                <div class="instructions">1.Taoyuan International Airport >>> Taipei Railway Station </div>
                In the airport, locate Kuo-kuang Motor Transport counter and purchase a bus ticket of Kuo-kuang Line [1840] to Taipei Railway Station. The fare is about $125 NTD and take about 55 minutes.</br></br>

                <div class="instructions">2.Taipei Railway Station --> Tainan Railway Station</br></br> </div>

                The journey will take 4~6 hours, and the fare is $480~741 NTD, depending on the types of the train. Please check here for the information of the train schedule.</br></br>

                <div class="instructions">3.Tainan Railway Station --> Shangri-La Hotel</br></br> </div>

                At Tainan Railway Station, exit the station via the Rear Exit and the Shangri-La Hotel is right across the street.  </br></br>
                </div>      
              </div>
        </div>

        <!--Kaosiung to Tainan -->
         <div id="MapPage_b" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                          <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#b_OptionA"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option">Option A:By Taiwan Railway Train</div>
                            <img src="/images/Railway.png">
                          </a> 
                          </div> 
                          </div>
                          <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#b_OptionB"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option">Option B:By Taxi</div>
                             <img src="/images/Taxi.png">
                          </a> 
                          </div> 
                          </div>
                        </div>
              </div>
        </div>
        <div id="b_OptionA" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                <div class="map_title">Kaosiung To Tainan By Taiwan Railway Train </div>
                <div class="map_text_guide">
                <div class="map_simple_guide">
                  1.Kaosiung International Airport </br> </a>
                  2.Kaosiung Railway Station </br>
                  4.Tainan Railway Station </br>
                  5. Shangri-La Hotel </br></br>
                </div>
                <div class="instructions">1.Kaohsiung International Airport >>> Kaohsiung Railway Station [MAP]</br></br> </div>
                Take Kaohsiung Rapid Transit (KRT) to Kaohsiung Railway Station. The fare is about $35 NTD.</br></br>
                <div class="instructions">2.Kaohsiung Railway Station --> Tainan Railway Station</br></br></div>
                Take the train to Tainan. The journey will take 30~50 minutes, and the fare is about $69-107 NTD, depending on the types of the train. Please check here for the information of the train schedule.</br></br>
                <div class="instructions">3.Tainan Railway Station --> Shangri-La Hotel</br></br></div>
                At Tainan Railway Station, exit the station via the Rear Exit and the Shangri-La Hotel is right across the street.</br></br>
              </div>
              </div>
        </div>
        <div id="b_OptionB" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1>PAKDD 2014 Map</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                <div class="map_title">Kaosiung To Tainan By Taxi </div>
                <div class="map_text_guide">
                 You can also take taxi from Kaohsiung International Airport to Shangri-La Hotel in Tainan city.</br></br> 
                 It takes about 1 hour and 20 minutes and the fare is about $1700 NTD.   </br></br>
                 </div>    
              </div>
        </div>
<!--Main Page of the MapPage -->
        <div id="InmapPage" data-role="page" data-add-back-btn="true">
          <div data-role="header" data-position="fixed" >
                <h1>PAKDD 2014 Map</h1>
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
          </div>      
          <div data-role="content" class="ui-content" role="main">
                        <div class="map_content ">
                          <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#MapPage_a"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="map_font">Taoyuan to Tainan</div>
                          </a> 
                          </div> 
                          </div>
                          <div class="ui-block-c">
                          <div class="map_btn">
                          <a href="#MapPage_b"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="map_font">Kaohsiung to Tainan</div>
                          </a> 
                          </div> 
                          </div>
                          <div class="ui-block-c">
                          <div class="map_btn">
                            <a href="#MapPage">
                         <!--    <img src="/images/mylist.png"></img> -->
                            <div class="map_font">Conference venue</div>
                          </a>
                          </div>
                        </div>
                        </div>
        </div>

<!--Conference venue -->       
        <div id="Map_In_Venue">
        
        </div>
<!-- new add-->
        

        <div id="myProgramPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" >
                
                 <h1>My Program</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" data-transition="fade" data-icon="delete" class="ui-btn-left" id="deleteAll_myProgram">Delete All</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <ul data-role="listview" id="myProgramList" class="ui-listview" >

                           
                        </ul>
               </div>
        </div>
        <!--<script type="text/javascript" src="phonegap.js"></script>-->
    </body>
</html>

