<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
        <link rel="stylesheet" href="/stylesheets/pakdd.css" />
        <!--<link rel="stylesheet" href="/stylesheets/style.css" /> -->
        <link rel="stylesheet" href="/touchTouch/touchTouch.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<!--
        <script type="text/javascript" src="/javascripts/jssor.core.js"></script>
        <script type="text/javascript" src="/javascripts/jssor.utils.js"></script>
        <script type="text/javascript" src="/javascripts/jssor.slider.js"></script>
        <script type="text/javascript" src="/javascripts/slider.js"></script>
        <link href="/stylesheets/slider.css" rel="stylesheet" type="text/css"/>

        <script src="/javascripts/jquery-scrollto.js"></script>


        <script src="/javascripts/phototouch.js"></script>
        <script src="/javascripts/loadXMLpaper.js"></script>
        <script src="/javascripts/loadXMLauthor.js"></script>
        <script src="/javascripts/loadXMLData.js"></script>
        <script src="/javascripts/storageMyProgram.js"></script>
        <script src="/javascripts/infoSlider.js"></script>
        -->
        <script src="/javascripts/pakdd.min.js"></script>

        <script src="/touchTouch/touchTouch.jquery.js"></script>

        <title>PAKDD</title>
    </head>
<body class="ui-mobile-viewport ui-overlay-c" screen_capture_injected="true">
	<div data-role="page" id="page-home" >

		<script src="/javascripts/setCSStrick.js"></script>
		<div data-role="header" data-position="fixed" role="banner">
			<h1 class="ui-title" role="heading" aria-level="1">18th PAKDD 2014</h1>


          <a href="#popupInfo" data-role="button" data-rel="popup" class="ui-btn-left ui-shadow ui-corner-all ui-btn-icon-left ui-icon-info"data-position-to="window" data-transition="pop" >info</a>
          <a href="#page-home" data-icon="home" class="ui-btn-right" >Home</a>


        <div data-role="popup" id="popupInfo" data-overlay-theme="a">
            <div id="InfoPage">
            <div id="slider">
              <a href="#" class="control_next">></a>
              <a href="#" class="control_prev"><</a>
              <ul>
                <li>
                  <div id="travelInfo">
                  <h2>Travel Info</h2>
                      <a class="ui-btn info-btn ui-shadow ui-corner-all" href="#" ex-href="http://www.vztaiwan.com/" >Visit Smart Tourism Taiwan</a>
                      <br>
                      <a class="ui-btn info-btn ui-shadow ui-corner-all" href="#" ex-href="https://itunes.apple.com/us/app/smart-tourism-pro/id649680814?ls=1&mt=8">Download APP for iOS</a>
                      <br>
                      <a class="ui-btn info-btn ui-shadow ui-corner-all" href="#" ex-href="https://play.google.com/store/apps/details?id=tw.org.iii.ari.smarttourism">Download APP for Android</a>
                  </div>
                </li>
                <li>
                  <div id="Organizer" >
                    <h2  class="orgTitle">Conference Organizer</h2>
                        <div class=" org">
                          <img src="images/OrganizerLogo2.png">
                        </div>
                  </div>
                </li>
                <li>
                  <div id="Organizer" >
                    <h2 class="orgTitle">Conference Sponsor</h2>
                     <div class="org">
                          <img src="images/SponsorLogo2.png">
                        </div>
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (1)</h2>
                    <h4>Browse all technical program</h4>
                    <img class="info_img" src="images/helpinfo.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (2)</h2>
                    <h4>Click to add the program into your list</h4>
                    <img class="info_img" src="images/helpinfo1.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                     <h2>User Manual (3)</h2>
                    <h4>You can also remove from here</h4>
                    <img class="info_img" src="images/helpinfo2.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (4)</h2>
                    <h4>Browse the program you interested</h4>
                    <img class="info_img" src="images/helpinfo3.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (5)</h2>
                    <h4>Ask for direction</h4>
                    <img class="info_img" src="images/helpinfo4.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (6)</h2>
                    <h4>Show message to local people</h4>
                    <img class="info_img" src="images/helpinfo5.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (7)</h2>
                    <h4>Show to driver when you take Taxi</h4>
                    <img class="info_img" src="images/helpinfo6.png">
                  </div>
                </li>
                <li>
                  <div id="Manual">
                    <h2>User Manual (8)</h2>
                    <h4>Show message to the driver</h4>
                    <img class="info_img" src="images/helpinfo7.png">
                  </div>
                </li>
                <li>
                  <div id="developerInfo">
                    <h2>Developer Info</h2>
                    <h3>NetDB Lab, NCKU</h3>
                    <hr>
                    <h4>Arvin Huang</h4>
                    <h4>Hendry Chen</h4>
                    <h4>Charlie Hsu</h4>
                    <h4>PeiHsuan Hsieh</h4>
                  </div>
                </li>
              </ul>
            </div>
            </div>
        </div><!-- /popup -->

<!--
        <a href="#popupBasic" data-rel="popup" class="ui-btn-right">Open Popup</a>
        <a href="#popupBasic" data-rel="popup" workshopName="'+workshopName+'"><img src="/images/addProgram.png" style="width:40px;height:40px;padding:5px;" class="myProgramIcon" ></a>

        <div data-role="popup" id="popupBasic">
          <p>This is a completely basic popup, no options set.<p>
        </div>
-->


		</div><!-- /header -->
		<div data-role="content" class="ui-content" role="main" >
			<div class="ui-grid-a mainpage_grid">
				<div class="ui-block-a">
					<a href="#programPage"  data-transition="fade">
						<div class="home_btn">
						<img src="/images/schedule.png"></img>
						<div class="index_btn">PAKDD 2014 Technical Program</div>
						</div>
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#InmapPage" data-transition="fade">
						<div class="home_btn">
						<img src="/images/map.png"></img>
						<div class="index_btn">Traffic Information</div>
						</div>
					</a>
				</div>
				<div class="ui-block-a">
					<a href="#paperListPage" data-transition="fade">
						<div class="home_btn">
						<img src="/images/paper.png"></img>
						<div class="index_btn">List of All Papers</div>
						</div>
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#myProgramPage" data-transition="fade" id="btn_myProgram">
						<div class="home_btn">
						<img src="/images/mylist.png"></img>
						<div class="index_btn">My Schedule</div>
						</div>
					</a>
				</div>

			</div><!-- /grid-a -->
		</div>
		<div data-role="footer" data-position="fixed">

        </div>
    </div>

         <div id="paperListPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" >

                 <h1>Paper List</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <ul data-role="listview" id="list-paperList" class="ui-listview" data-autodividers="true" data-filter="true">

                        </ul>
               </div>
               <div id="paperListfooter" data-role="footer" data-position="fixed">
                 <div data-role="navbar">
                     <ul >
                        <li ><a href="#" class="ui-btn-active ui-state-persist">PaperList</a></li>
                        <li ><a href="#peoplePage">People</a></li>
                     </ul>
                 </div><!-- /navbar -->
              </div>
        </div>

         <div id="peoplePage" data-role="page" data-add-back-btn="true">
                <div data-role="header" >
                   <h1>People</h1>
                    <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
    		            <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                </div>
        	      <div id="content" data-role="content"  class="ui-content" role="main">
              		<ul data-role="listview" id="list-author" data-autodividers="true" data-filter="true">
              		</ul>
        	      </div>
                <div id="peoplePagefooter" data-role="footer" data-position="fixed">
                   <div data-role="navbar">
                       <ul >
                          <li ><a href="#paperListPage">PaperList</a></li>
                          <li ><a href="#" class="ui-btn-active ui-state-persist">People</a></li>
                       </ul>
                   </div><!-- /navbar -->
                </div>
        </div>

        <div id="programPage" data-role="page" data-add-back-btn="true">

              <div data-role="header"  >
                 <h1>Program</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
  		          <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
	             <div data-role="content" class="ui-content" role="main" >
                  <ul data-role="listview" id="list-browse-sessions" class="ui-listview">

                  </ul>
               </div>
        </div>

       <div id="MapPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                            <div class="thumbs">
                              <a href="/images/F1.png" style="background-image:url(/images/F1.png)" title="1F"></a>
                              <a href="/images/B1.png" style="background-image:url(/images/B1.png)" title="B1"></a>
                              <a href="/images/B2.png" style="background-image:url(/images/B2.png)" title="B2"></a>
                              <a href="/images/9F.png" style="background-image:url(/images/9F.png)" title="9F"></a>
                            </div>
                        </div>
              </div>
        </div>


<!-- new add-->
        <!--Taoyaun to Tainan -->
        <div id="MapPage_a" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                         <div class="map_title"> Taoyuan To Tainan <br><br></div>
                         <div class="ui-block-bc">
                          <div class="option_btn">
                          <a href="#a_OptionA"  data-transition="fade"class="option_btn" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option" >Option A:By Taiwan High Speed Rail (THSR)</div>
                            <img src="/images/THSR.png">
                          </a>
                          </div>
                          </div>
                          <div class="ui-block-bc">
                          <div class="option_btn">
                          <a href="#a_OptionB"  data-transition="fade" class="option_btn">
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option">Option B:By Taiwan Railway Train</div>
                            <img src="/images/Railway.png">
                          </a>
                          </div>
                          </div>
                        </div>
              </div>
        </div>
        <div id="a_OptionA" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui_content" role="main">
                <div class="map_title">Taoyuan To Tainan By Taiwan High Speed Rail (THSR) </div>
                  <div id="slider1_container" style="width: 600px;height: 300px; ">
        <!-- Loading Screen -->
        <div class="loading_screen"u="loading" style="top: 0px; left: 0px;">
            <div class="loading_pic"style="top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div class="slides"u="slides" style="left: 0px; top: 0px; width: 600px; height: 300px;overflow: hidden;">
            <div>
                <img u=image src="images/Tao_air.jpg" />
                <div u="thumb">Taoyan International Airport</div>
            </div>
            <div>
                <img u=image src="images/THSR_tation_taoyuan.jpeg" />
                <div u="thumb">THSR-Taoyuan Station</div>
            </div>
            <div>
                <img u=image src="images/THSR_Tainan.jpg" />
                <div u="thumb">THSR-Tainan Statoin</div>
            </div>
            <div>
                <img u=image src="images/shalun.jpg" />
                <div u="thumb">Taiwan Railways-Shalun Station</div>
            </div>
            <div>
                <img u=image src="images/Tainan_Railways.jpg" />
                <div u="thumb">Taiwan Railways-Tainan Station(Rear)</div>
            </div>
            <div>
                <img u=image src="images/hotel-Shang.jpg" />
                <div u="thumb">Shangri-La's Far Eastern Plaza Hotel </div>
            </div>
        </div>

        <!-- ThumbnailNavigator Skin Begin -->
        <div id="thumbnavigator"u="thumbnavigator" class="slider1-T" style="bottom: 0px; left: 0px; height:60px; width:600px;">
            <div id="ThumbnailNavigator">
            </div>
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides">
                <div id="Thumbnail_Item"u="prototype" style="WIDTH: 600px; HEIGHT: 60px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate style="font-family: verdana; font-weight: normal; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0; LEFT: 0; color:#000; line-height: 60px; font-size:20px; padding-left:10px;"></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">jQuery Slider</a>
        <!-- Trigger -->
    </div>
    <!-- Jssor Slider End -->
              </div>
              <div class="map_simple_guide">
                  <div id="aa">1.Taoyuan International Airport <br> </div>
                  2.THSR Taoyuan Station <br>
                  3.THSR Tainan Station <br>
                  4.Tainan Railway Station <br>
                  5. Shangri-La Hotel <br><br>
                  </div>
                <div class="map_text_guide">
                  <div class="instructions">
                    1.Taoyuan International Airport --> THSR Taoyuan Station <br><br>
                  </div>
                 There are two ways to get to the THSR Taoyuan Station(Shuttle bus/Taxi).<br><br>
                  Shuttle bus:<br><a href="#Ubus705" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Ubus705" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Ubus705.png" style="max-height:512px;">
                  </div>
                  By United Highway Bus at Terminal 1(Ubus 705)<br><br>
                  Ticket price: <div class="time_fee">full fare $30 NTD</div><div class="time_fee">half fare $15 NTD</div>
                  Travel time: <div class="time_fee">about 20 minutes</div>
                  Please click <a id="exlink" href="#" ex-href="http://www.taoyuan-airport.com/english/hight-speed-rail"  >here</a> to get more Shuttle information.<br><br>
                  Taxi:<br><a href="#THSR_Taoyuan" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">To The Driver <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="THSR_Taoyuan" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/THSR_Taoyuan.png" style="max-height:512px;">
                  </div>
                  Price: <div class="time_fee">about $350 NTD</div><br>


                  <div class="instructions">
                    2.THSR Taoyuan Station --> THSR Tainan Station <br><br>
                  </div>
                  <img src="/images/map_THSR.png"><br>
                  Ticket price: <div class="time_fee">adult $1305 NTD</div>
                                <div class="time_fee">achildren/senior/disabled $650 NTD</div>
                  Travel Time: <div class="time_fee">about 83 minutes</div>
                  Please click <a id="exlink" href="#" ex-href="http://www5.thsrc.com.tw/en/"  >here</a> to get more information for the price and schedule.<br><br>
                  <div id="xx" class="instructions">
                    3.THSR Tainan Station --> Tainan Railway Station<br><br>
                  </div>
                    You can get to Tainan Railway Station by train or by taxi<br><br>
                    By train:<br><a href="#Shalun_Raiway" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Shalun_Raiway" data-overlay-theme="a"  data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Shalun_Raiway.png" style="max-height:512px;">
                  </div>
                    In the THSR Tainan Station, follow the direction(1 minute walk) to take Taiwan Railway Shuttle Train (ShaLun Line) to Tainan Railway Station.<br>The entrance of the Shalun Railway Station is on 2F of THSR Tainan Station<br><br>
                    Price:<div class="time_fee"> $25NTD</div>
                    Travel time:<div class="time_fee"> 20minutes</div>
                    Please check <a id="exlink" href="#" ex-href="http://twtraffic.tra.gov.tw/twrail/English/e_index.aspx" >here</a> for the information of the train schedule.<br>
                    <span style="color:red; margin-top:5px">Notice:</span><p style="margin:0px;color:#E03A3A;">All trains from Shalun station will stop at the Tainan station even their terminal stations are not Tainan. You can take any train at your convenient time.
                    </p>
                    <br>
                    <div id="fig_caption">
                    <img src="/images/THSR_F2.png">
                    <label id="fig_label">Fig.- The floorplan of the 2nd floor in THSR Tainan station</label>
                    </div>
                    <br>
                    <br>
                    <div id="fig_caption">
                    <img id="fixed_img" style="margin:0px;" src="/images/THSR_Railway_Tainan.png">
                   <label id="fig_label">
                    Fig.- There are 4 stops to Tainan train station
                   </label>
                   </div>
                    <br>
                    <br>
                    By taxi:<br><a href="#Taxi_Shangrila" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">To The Driver <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Taxi_Shangrila" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Taxi_Shangrila.png" style="max-height:512px;">
                  </div>
                    Price:  <div class="time_fee">about $300NTD</div>
                    <div id="fig_caption">
                    <img src="/images/THSR_F1.png">
                  <label id="fig_label">Fig.- The floorplan of the 1st floor in THSR Tainan station
                  </label>
                  </div>
                  <br>
                  <div class="instructions">
                    4.Tainan Railway Station --> Shangri-La's Far Eastern Plaza Hotel<br><br>
                  </div>
                  <a href="#Shangri_La1" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Shangri_La1" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Shangri_La.png" style="max-height:512px;">
                  </div>
                  It's a 1-minute walk.<br>
                  <div id="fig_caption">
                  <img src="/images/TRA.png">
                  <label id="fig_label">Fig.- The floorplan of Tainan Train Station
                  </label>
                  </div>
                  <br>
                  At Tainan Railway Station, exit the station via the <font color="red">Rear Exit </font> and the Shangri-La Hotel is right across the street.<br><br>
                    <p style="margin:0px;color:#E03A3A;">(Please do not exit from the Front Exit in the First Platform. You will need a long walk from the Front Exit of the Tainan train station to the conference venue.)
                    </p>
                    <br>
                </div>
        </div>
        <div id="a_OptionB" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
              <div class="map_title">Taoyuan To Tainan By Taiwan Railway Train </div>
          <div id="slider2_container" style="width: 600px;height: 300px;">
        <!-- Loading Screen -->
        <div class="loading_screen"u="loading" style="top: 0px; left: 0px;">
            <div class="loading_pic"style="top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div class="slides"u="slides" style="left: 0px; top: 0px; width: 600px; height: 300px;overflow: hidden;">
            <div>
                <img u=image src="images/Tao_air.jpg" />
                <div u="thumb">Taoyan International Airport</div>
            </div>
            <div>
                <img u=image src="images/Taipei_Railway.jpg" />
                <div u="thumb">Taiwan Railways-Taipei Station</div>
            </div>
            <div>
                <img u=image src="images/Tainan_Railways.jpg" />
                <div u="thumb">Taiwan Railways-Tainan Station(Rear)</div>
            </div>
            <div>
                <img u=image src="images/hotel-Shang.jpg" />
                <div u="thumb">Shangri-La's Far Eastern Plaza Hotel </div>
            </div>
        </div>

        <!-- ThumbnailNavigator Skin Begin -->
        <div id="thumbnavigator"u="thumbnavigator" class="slider1-T" style="bottom: 0px; left: 0px; height:60px; width:600px;">
            <div id="ThumbnailNavigator">
            </div>
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides">
                <div id="Thumbnail_Item"u="prototype" style="WIDTH: 600px; HEIGHT: 60px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate style="font-family: verdana; font-weight: normal; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0; LEFT: 0; color:#000; line-height: 60px; font-size:20px; padding-left:10px;"></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">jQuery Slider</a>
        <!-- Trigger -->
    </div>
    <!-- Jssor Slider End -->
               <div class="map_simple_guide">
                  1.Taoyuan International Airport <br>
                  2.Taipei Railway Station <br>
                  3.Tainan Railway Station <br>
                  4.Shangri-La Hotel <br><br>
                  </div>
                <div class="map_text_guide">
                <div class="instructions">
                  1.Taoyuan International Airport --> Taipei Railway Station
                </div>
                In the airport, locate Kuo-kuang Motor Transport counter and purchase a bus ticket of Kuo-kuang Line [1840] to Taipei Railway Station.<br> <br>
                <a href="#Kuo-kuang_1840" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px;">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Kuo-kuang_1840" data-overlay-theme="a"  data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Kuo-kuang_1840.png" style="max-height:512px;">
                  </div>
                Ticket price:<div class="time_fee">$125 NTD</div>
                Travel time: <div class="time_fee">about 55 minutes</div>
                Please click <a id="exlink" href="#" ex-href="http://www.kingbus.com.tw/time&price.php"   >here</a> to check the information for the bus schedule and price.<br><br>

                <div class="instructions">
                  2.Taipei Railway Station --> Tainan Railway Station<br><br>
                </div>
                <a href="#Train_Tainan" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Train_Tainan" data-overlay-theme="a"  data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Train_Tainan.png" style="max-height:512px;">
                  </div>
                Ticket price:<div class="time_fee"> $480~741 NTD</div>
                Travel Time: <div class="time_fee">about 4~6 hours(depending on the types of the train)</div>
                Please check <a id="exlink" href="#" ex-href="http://twtraffic.tra.gov.tw/twrail/English/e_index.aspx" >here</a> for the information of the train schedule.<br><br>

                <div class="instructions">
                  3.Tainan Railway Station --> Shangri-La Hotel<br><br>
                </div>
                <a href="#Shangri_La2" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Shangri_La2" data-overlay-theme="a"  data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Shangri_La.png" style="max-height:512px;">
                  </div>
                It's a 1-minute walk.<br>
                 <img src="/images/TRA.png"><br>
                At Tainan Railway Station, exit the station via the <font color="red">Rear Exit </font>and the Shangri-La Hotel is right across the street.  <br><br>
                 <p style="margin:0px;color:#E03A3A;">(Please do not exit from the Front Exit in the First Platform. You will need a long walk from the Front Exit of the Tainan train station to the conference venue.)
                    </p>
                    <br>
                </div>
              </div>
        </div>

        <!--Kaosiung to Tainan -->
         <div id="MapPage_b" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <div class="map_content">
                          <div class="ui-block-bc">
                          <div class="option_btn">
                          <a href="#b_OptionA"  data-transition="fade" class="option_btn" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="option">Option A:By Taiwan Railway Train</div>
                            <img src="/images/Railway.png">
                          </a>
                          </div>
                          </div>
                        </div>
              </div>
        </div>
        <div id="b_OptionA" data-role="page" data-add-back-btn="true">
              <div data-role="header" data-position="fixed" >
                 <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                <div class="map_title">Kaosiung To Tainan By Taiwan Railway Train </div>
                  <div id="slider3_container" style="width: 600px;height: 300px;">
        <!-- Loading Screen -->
        <div class="loading_screen"u="loading" style="top: 0px; left: 0px;">
            <div class="loading_pic"style="top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>
        <!-- Slides Container -->
        <div class="slides"u="slides" style="left: 0px; top: 0px; width: 600px; height: 300px;overflow: hidden;">
            <div>
                <img u=image src="images/Kao_airport.jpg" />
                <div u="thumb">Kaoshiung International Airport</div>
            </div>
            <div>
                <img u=image src="images/Kao_Train.jpg" />
                <div u="thumb">Taiwan Railways-Kaoshiung Station</div>
            </div>
            <div>
                <img u=image src="images/Tainan_Railways.jpg" />
                <div u="thumb">Taiwan Railways-Tainan Station(Rear)</div>
            </div>
            <div>
                <img u=image src="images/hotel-Shang.jpg" />
                <div u="thumb">Shangri-La's Far Eastern Plaza Hotel </div>
            </div>
        </div>

        <!-- ThumbnailNavigator Skin Begin -->
        <div id="thumbnavigator"u="thumbnavigator" class="slider1-T" style="bottom: 0px; left: 0px; height:60px; width:600px;">
            <div id="ThumbnailNavigator">
            </div>
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides">
                <div id="Thumbnail_Item"u="prototype" style="WIDTH: 600px; HEIGHT: 60px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate style="font-family: verdana; font-weight: normal; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0; LEFT: 0; color:#000; line-height: 60px; font-size:20px; padding-left:10px;"></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a style="display: none" href="http://www.jssor.com">jQuery Slider</a>
        <!-- Trigger -->
    </div>
    <!-- Jssor Slider End -->

                <div class="map_simple_guide">
                  1.Kaosiung International Airport <br> </a>
                  2.Kaosiung Railway Station <br>
                  3.Tainan Railway Station <br>
                  4. Shangri-La Hotel <br><br>
                </div>
                 <div class="map_text_guide">
                <div class="instructions">1.Kaohsiung International Airport --> Kaohsiung Railway Station<br><br>
                </div>
                 <a href="#KaoShiung_Raiway2" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="KaoShiung_Raiway2" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/KaoShiung_Raiway.png" style="max-height:512px;">
                  </div>
                Take Kaohsiung Rapid Transit (KRT) to Kaohsiung Railway Station. <br><br>
                Ticket price:<div class="time_fee"> $35 NTD</div><br>
                Please check <a id="exlink" href="#" ex-href="http://www.krtco.com.tw/en/stationGuide_map.aspx" >here</a> for the information of KRT.<br><br>

                <div class="instructions">2.Kaohsiung Railway Station --> Tainan Railway Station<br><br></div>
                <br><a href="#Train_Tainan2" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Train_Tainan2" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Train_Tainan.png" style="max-height:512px;">
                  </div>
                Take the train to Tainan. <br>
                Ticket price:<div class="time_fee">  $69-107 NTD</div>
                Travel time:<div class="time_fee">  about 30~50 minutes</div>
                (depending on the types of the train) <br>
                Please check <a id="exlink" href="#" ex-href="http://twtraffic.tra.gov.tw/twrail/English/e_index.aspx" >here</a> for the information of the train schedule.<br><br>

                <div class="instructions">3.Tainan Railway Station --> Shangri-La Hotel<br><br></div>
                It's a 1-minute walk.<br>
                <br><a href="#Shangri_La3" data-rel="popup" data-position-to="window" data-transition="fade" style="margin:8px">Ask directions <br>[Show the popup message (in Chinese)]</a><br>
                  <div data-role="popup" id="Shangri_La3" data-overlay-theme="a" data-corners="false">
                  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img class="popphoto" src="images/Ask_directions/Shangri_La.png" style="max-height:512px;">
                  </div>
                 <img src="/images/TRA.png"><br>
                At Tainan Railway Station, exit the station via the <font color="red">Rear Exit </font>and the Shangri-La Hotel is right across the street.<br><br>
                 <p style="margin:0px;color:#E03A3A;">(Please do not exit from the Front Exit in the First Platform. You will need a long walk from the Front Exit of the Tainan train station to the conference venue.)
                    </p>
                    <br>
              </div>
              </div>
        </div>
<!--Main Page of the MapPage -->
        <div id="InmapPage" data-role="page" data-add-back-btn="true">
          <div data-role="header" data-position="fixed" >
                <h1 style="white-space:normal;">PAKDD 2014 Traffic Information</h1>
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" class="ui-btn-left ui-link ui-btn ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">Back</a>
          </div>
          <div data-role="content" class="ui-content" role="main">
                        <div class="map_content ">
                          <div class="ui-block-bc">
                          <div class="option_btn">
                          <a href="#MapPage_a"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="map_font">Taoyuan to Tainan</div>
                          </a>
                          </div>
                          </div>
                          <div class="ui-block-bc">
                          <div class="option_btn">
                          <a href="#MapPage_b"  data-transition="fade" >
                         <!--   <img src="/images/mylist.png"></img>  -->
                            <div class="map_font">Kaohsiung to Tainan</div>
                          </a>
                          </div>
                          </div>
                          <div class="ui-block-bc">
                          <div class="option_btn">
                            <a href="#MapPage">
                         <!--    <img src="/images/mylist.png"></img> -->
                            <div class="map_font">Conference venue</div>
                          </a>
                          </div>
                        </div>
                        </div>
           </div>
        </div>

<!--Conference venue -->
<!-- new add-->
        <div id="myProgramPage" data-role="page" data-add-back-btn="true">
              <div data-role="header" >

                 <h1>My Schedule</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
                <a href="#page-home" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
                <a href="#" data-transition="fade" data-icon="delete" class="ui-btn-left" id="deleteAll_myProgram">Delete All</a>
              </div>
               <div data-role="content" class="ui-content" role="main">
                        <ul data-role="listview" id="myProgramList" class="ui-listview" data-autodividers="true" data-inset="true">


                        </ul>
               </div>
        </div>

        <!--<script type="text/javascript" src="phonegap.js"></script>-->
    </body>
</html>
