<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
                <title>PAKDD</title>
    </head>
    <body>
       <div id="InfoPage" data-role="page" data-add-back-btn="true">
       <script src="/javascripts/setCSStrick.js"></script>

              <div data-role="header" data-position="fixed" >
	              
                 <h1>Info</h1>
                  <!--<a href="#" class="ui-btn-left" data-rel="back">Back</a>-->
  		          <a href="/" data-transition="fade" data-icon="home" class="ui-btn-right">Home</a>
              </div>
	             <div data-role="content" class="ui-content" role="main">
                    <div class="ui-grid-a mainpage_grid">
                          <div class="ui-block-a">
                            <a href="http://www.vztaiwan.com/" rel="external" data-transition="fade">
                              <div class="home_btn">
                              <img src="/images/STT_b.png"></img>
                              </div>
                            </a>
                          </div>
                          <div class="ui-block-b">
                            <a href="https://itunes.apple.com/us/app/smart-tourism-pro/id649680814?ls=1&mt=8" rel="external" data-transition="fade">
                              <div class="home_btn" >
                              <img src="/images/STT_apple.png" ></img>
                              <h4 >APP for iOS</h4>
                              </div>
                            </a>
                          </div>  
                          <div class="ui-block-a">
                            <a href="https://play.google.com/store/apps/details?id=tw.org.iii.ari.smarttourism" rel="external" data-transition="fade">
                              <div class="home_btn" >
                              <img src="/images/STT_google.png" ></img>
                              <h4 >APP for Android</h4>
                              </div>
                            </a>
                          </div>
                          <div class="ui-block-b">
                            <a href="http://www.ari.iii.org.tw/" rel="external" data-transition="fade">
                              <div class="home_btn">
                              <img src="/images/ARI.png"></img>
                              
                              </div>
                            </a>
                          </div>  
                          
                    </div><!-- /grid-a -->      
               </div>
        </div>
       
    </body>
</html>

